// В этом файле должны быть стили только для БЭМ-блока about, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.about {
  width: 100%;
  height: 100vh;
  background: url('./images/album-1/image-1.jpg');
  background-repeat: no-repeat;
}
