html { 
 box-sizing: border-box; 
 font-size: 62.5%; 
-webkit-tap-highlight-color: rgba(0, 0, 0, 1); 
 -ms-overflow-style: scrollbar; 
 -ms-text-size-adjust: 100%;
  min-width: 320px; 
  min-height: 100%; 
} 


body {
    margin: 0;
    font-size: $font-size;
    font-family: $font-family;
    font-weight: 400;
    color: $color-text;
}

.visually-hidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0;
}


img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

a {
    color: $link-color;
    text-decoration: none;
    background-color: transparent;

    &:hover,
    &:active {    
        text-decoration: underline;
    }
}

// Типографика 
p,
pre {
    font-size: $font-size;
}

h1 {
    font-size: $font-size--h1;
}
h2 {
    font-size: $font-size--h2;
}
h3 {
    font-size: $font-size--h3;
}
h4 {
    font-size: $font-size--h4;
}
h5 {
    font-size: $font-size--h5;
}
h6 {
    font-size: $font-size--h6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family--headings;
    font-weight: 700;
    line-height: 1.4;
    color: currentColor;
}

// Обертки и flex container 
.container {
    @include container-fluid
}

.flex-container {
    @include flex-container   
}


